/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --fw-normal: 400;
  --fw-bold: 700;
  --bg-color: #fff;
  --bg-image: var(--bg-gradient);
  --accent-color: #000;
  --accent-color-transparent: rgb(0 0 0 / 60%);
  --another-text-color: #fff;
  --heart-color: #ff0000;
  --bg-gradient: 
    repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px,
      transparent 2px, transparent 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px,
      transparent 2px, transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a
    );
  --text-shadow: 
    1px 0 0 var(--bg-color), 1px 0 0 var(--bg-color), 
    0 1px 0 var(--bg-color), -1px 0 0 var(--bg-color), 
    -1px 0 0 var(--bg-color), 0 -1px 0 var(--bg-color),
    0 -1px 0 var(--bg-color);
  }